body{
    margin: 0;
    font-family: Arial, sans-serif;
   color: #111;
}
.top{
    background-image: url("/Assets/Hero-bg.png");
}
.nabbar{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:#4E47FF ;
}
.primary-btn{
  background-color: #4E47FF;
    color:#FFFFFF ;
    border-radius: 8px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    

}
.hero{
    text-align: center;
    padding: 4rem 2rem;
}
.hero-1{
   font-size: 2rem;
 margin-bottom: 1rem;
 color: #252432;
 
}
/* action */
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
   
}
.see{
    color:#252432;
    font-size: 2rem;
    font-weight: bold;
}
.action-img{
    border-radius: 2rem;
}
.stars{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #252432;
}
.stars-item h3{
  font-size: 2rem;
margin: 0;
color: #4E47FF;
font-weight: bold;


}
.items{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}
.number{
    background-color: rgb(236, 236, 240);
   border-width: 2rem 4rem;
   padding: 4rem 8rem;
   border-radius: 2rem;
   
}
.what{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #252432;
}
.reviewer{
    display: flex;
    justify-content: space-around;
  
}
.ready{
    text-align: center;
    
}
.webimg{
    padding: 3rem 1rem;
    text-align: center;
    border-radius: 12px;
}
.big-img{
    border-radius: 20px;
}
.contact{
    display: flex;
    justify-content: space-around;
   font-size: 20px;
   font-weight: bold;
   height: 350px;
   background-color:#FFFFFF ;
   
   

}
.contact-form{
 height: 10px; 
 margin-top: 20px;
}
.contact input,
  .contact textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .footer{
    text-align: center;
   
  }
  .foot-logo{
    text-align: center;
    color: #4E47FF;
    font-size: 4rem;
    font-weight: bold;
  }
  .foot-manu{
    display: flex;
   gap: 20px;
   justify-content: center;
  }